<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anythink.pangle">


    <!--Required  permissions-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

<!--    &lt;!&ndash; If there is a video ad and it is played with textureView, please be sure to add this, otherwise a black screen will appear &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.WAKE_LOCK" />-->

    <application>
        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />
    </application>

</manifest>
