<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anythink.mintegral">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Required for China-Mainland Traffic app -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application>

    </application>

</manifest>
