<!--
  ~ Copyright © 2018-2020 TopOn. All rights reserved.
  ~ https://www.toponad.com
  ~ Licensed under the TopOn SDK License Agreement
  ~ https://github.com/toponteam/TopOn-Android-SDK/blob/master/LICENSE
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anythink.mopub">

    <!-- Required permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Optional permissions. Will pass Lat/Lon values when available. Choose either Coarse or Fine -->
    <!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->

    <!-- Optional permissions. Used for MRAID 2.0 storePicture ads -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application>

    </application>

</manifest>
