<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anythink.uniplay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />     <!--5.7.1 版本新增-->
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />     &lt;!&ndash; *8.0 版本适配请增加此条配置&ndash;&gt;-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />     <!-- *8.0 版本以后需要分别对读写同时授权-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application>
        <activity
            android:name="com.uniplay.adsdk.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>

        <activity
            android:name="com.uniplay.adsdk.InterstitialAdActivity"
            android:theme="@android:style/Theme.Translucent"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.uniplay.adsdk.NetworkChangeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <service android:name="com.uniplay.adsdk.DownloadService" />

        <provider
            android:name="com.uniplay.adsdk.UniPlayFileProvider"
            android:authorities="${applicationId}.uniplay.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/anythink_bk_uniplay_file_path" />
        </provider>

        <activity
            android:name="com.joomob.activity.AdVideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
    </application>

</manifest>
