<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uparpu.ksyun">


    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <provider
            android:name="com.ksc.ad.sdk.util.KsyunFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/uparpu_bk_ksyun_file_path" />
        </provider>
    </application>

</manifest>
