<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.test.ad.demo" >

    <uses-sdk tools:overrideLibrary="com.chartboost.heliumsdk,com.yandex.div.core.logging,com.yandex.div.core.views,     com.yandex.div.core.assertion,com.chartboost.mediation.chartboostadapter,com.my.target,     net.pubnative.lite.sdk.banner,net.pubnative.lite.sdk.rewarded,net.pubnative.lite.sdk.source.pnapi,     net.pubnative.lite.sdk.interstitial,net.pubnative.lite.sdk.nativeads,net.pubnative.lite.sdk.viewability,     com.iab.omid.library.pubnativenet,net.pubnative.lite.sdk.core,net.pubnative.lite.sdk.reporting,     net.pubnative.lite.sdk.logger,net.pubnative.lite.sdk.topicsapi" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.test.ad.demo.DemoApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:remove="android:taskAffinity"
        tools:replace="android:usesCleartextTraffic" >
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9488501426181082~6354662111" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="hw_ads_sdk_type"
            android:value="6"
            tools:node="replace" />

        <activity
            android:name="com.test.ad.demo.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.test.ad.demo.NativeMainActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.ad.demo.NativeAdActivity"
            android:exported="false"
            android:label="Native" />
        <activity
            android:name="com.test.ad.demo.RewardVideoAdActivity"
            android:exported="false"
            android:label="RewardedVideo" />
        <activity
            android:name="com.test.ad.demo.InterstitialAdActivity"
            android:exported="false"
            android:label="Interstitial" />
        <activity
            android:name="com.test.ad.demo.BannerAdActivity"
            android:exported="false"
            android:label="Banner" />
        <activity
            android:name="com.test.ad.demo.SplashAdActivity"
            android:exported="false" />
        <activity
            android:name="com.test.ad.demo.SplashAdShowActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity
            android:name="com.test.ad.demo.SplashAdShowInCurrentActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity
            android:name="com.test.ad.demo.NativeListActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity
            android:name="com.test.ad.demo.TestMainActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity
            android:name="com.test.ad.demo.MediaVideoActivity"
            android:exported="false"
            android:label="MediaVideo" />

        <!-- source file: nonchina_jcenter/network_sdk/admob/23.2.0/AndroidManifest.xml -->
        <!-- google -->
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
    </application>

</manifest>