

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anythink.klevin">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Optional permissions to enable better geo-targeting of ads (recommended)-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->

    <application>

        <provider
            android:name="com.tencent.klevin.utils.FileProvider"
            android:authorities="${applicationId}.klevin.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/anythink_bk_klevin_file_path"/>
        </provider>
    </application>

</manifest>
